.rickroll_gemor,
.ricroll {
    color: rgb(0, 255, 226);
    font-size: 1.5em;
}

#html5_easy_progress-bar {
    color: rgb(67, 94, 37);
}

abbr {
    color: blue;
}

div p, div i {
    color: violet;
}

.ricroll {
    text-decoration: none;
    color: aqua;
}

.ricroll:hover {
    text-decoration: underline;
    text-decoration-color: #0f1dd2;
    color: blue;
}

progress {
    width: 250px;
    height: 10px;
    border: none;
}

progress::-webkit-progress-bar {
    background-color: #b6b6b6;
    border-radius: 5px;
}

progress::-webkit-progress-value {
    background-color: #269a21;
    border-radius: 5px;
}

progress {
    background-color: #b6b6b6;
    border-radius: 5px;
}

progress::-moz-progress-bar {
    background-color: #269a21;
    border-radius: 5px;
}

progress {
    color: #269a21;
}

.noJS_hide {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    vertical-align: middle;
    margin-left: 10px;
    z-index: 10000;
}

.noJS_hide svg {
    width: 24px;
    height: 24px;
}

.noJS_ref {
    color: white;
    width: 100px;
    height: auto;
}

#podval {
    color: #525252;
    z-index: 10000000;
    width: 100px;
    height: auto;
}

.noscript {
    display: none;
}

#mycanvas {
    width: 300px;
    height: 200px;
    border: 2px solid #333;
    display: block;
    margin: 20px 0;
    background: #f0f0f0;
}

svg {
    filter: drop-shadow(0 0 1px black) drop-shadow(0 0 1px black);
    width:24px;
    height:24px;
}