.rickroll_gemor,
.ricroll {

    color: rgb(0, 255, 226);
}

#html5_easy_progress-bar {
    color: rgb(67, 94, 37);
}

abbr {
    color: blue;
}

div p, div i {
    color: violet;
}

/*Вот таким образом можно приписывать различные стили к селекторам */
.ricroll {

    text-decoration: none;
    color: aqua;
}

.ricroll:hover {
    text-decoration: underline;
    text-decoration-color: #0f1dd2;
    color: blue;
}

/* Псевдоклассы можно применять к любым обьектам  */

/* Общие стили */
progress {
    width: 250px;
    height: 10px;
    border: none; /* Убираем стандартную рамку */
}

/* Стилизация для WebKit-браузеров */
progress::-webkit-progress-bar {
    background-color: #b6b6b6;
    border-radius: 5px;
}

progress::-webkit-progress-value {
    background-color: #269a21;
    border-radius: 5px;
}

/* Стилизация для Firefox */
progress {
    background-color: #b6b6b6;
    border-radius: 5px;
}

progress::-moz-progress-bar {
    background-color: #269a21;
    border-radius: 5px;
}

/* Стилизация для Internet Explorer */
progress {
    color: #269a21; /* Меняет цвет полоски в IE10+ */
}
#no_js_test{
background: #ff6b6b;/*Цвет текста*/
    color: white;
    padding: 20px;/*Отступы*/
    text-align: center;/*Выравнивание по центру*/
    position: fixed;/*Фиксирование*/
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999/*Приоритет наложения, местоположение*/
}
#noJS_hide{
    color:white;
    z-index: 10000;
    width:88px;
    height:auto;
}
#noJS_ref{
    color: white;
    width:100px;
    height:auto;
}

.bigger {
    font-size: 1.5em;
}
#bigger1{
    font-size: 1.5em;
}

#podval{
    color: #525252;
    z-index: 10000000;
    width: 100px;
    height:auto;


}

